<!--  -->
<section class="md:grid md:grid-cols-2 md:gap-16 grid grid-cols-1 gap-6 justify-center w-full bg-[#E9F3FF] px-10 sm:py-30 py-16 transition-colors duration-500 ease-in-out dark:bg-navy-dark">
  <div class="md:grid md:grid-cols-3 grid grid-cols-1 gap-6">
    <div class="text-center space-y-2">
      <h3 class="lg:text-6xl text-3xl text-[#094C9F] playfair-display-regular text-center dark:text-navy-light">2000+</h3>
      <span class="lg:text-md text-sm text-vagus/60 poppins-medium dark:text-warp-subhead">Clients helped</span>
    </div>
    <div class="text-center space-y-2">
      <h3 class="lg:text-6xl text-3xl text-[#094C9F] playfair-display-regular text-center dark:text-navy-light">30+</h3>
      <span class="lg:text-md text-sm text-vagus/60 poppins-medium dark:text-warp-subhead">Verified Therapist</span>
    </div>
    <div class="text-center space-y-2">
      <h3 class="lg:text-6xl text-3xl text-[#094C9F] playfair-display-regular text-center dark:text-navy-light">4 star+</h3>
      <span class="lg:text-md text-sm text-vagus/60 poppins-medium dark:text-warp-subhead">Ratings from most of our users.</span>
    </div>
  </div>
  <div class="w-auto text-center p-4">
    <p class="poppins-medium text-xl text-vagus dark:text-warp-blockquote">With thousands of sessions, we've helped clients gain clarity, and feel more confident on their path to well-being</p>
  </div>
</section>
