{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Elation
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    {% tailwind_css %}
  </head>

  <body class="bg-white transition-colors duration-500 ease-in-out dark:bg-charcoal">
    {% include 'elationapp/components/navbar.html' %}

    {% comment %}Main{% endcomment %}
    {% block content %}

    {% endblock %}
    
    {% block scripts %}
      <script src="{% static 'javascript/script.js' %}"></script>
      <script src="{% static 'javascript/animations.js' %}"></script>
    {% endblock %}
  </body>
</html>
