{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Elation
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% tailwind_css %}
  </head>
  <body class="bg-white text-gray-800 dark:text-shadow-white transition-colors duration-500 ease-in-out">
    <div class="p-2.5 md:p-3 flex flex-col w-full fixed z-30 items-center">
      <div class="w-full rounded-lg">
        <nav class="poppins-regular rounded-lg w-full text-black bg-gray-300/50 backdrop-blur-sm  transition-colors duration-500 ease-in-out" id="nav-bar">
          <div class="md:mx-2 px-4 py-4 flex flex-wrap items-center justify-between">
            <!-- Logo -->
            <a class="flex items-center" href="#"><img src="{% static 'assets/logo_purple_nobg_sm.png' %}" alt="" class="lg:h-12 h-sm w-40" /></a>

            <div class="justify-between hidden lg:flex items-center lg:text-sm font-normal">
              <div class="relative group">
                <button href="#" class="flex mx-3 items-center justify-between border-none bg-transparent cursor-pointer p-2">
                  <span>Condition</span>
                  <span class="nav-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>

                <!-- Dropdown -->
                <div class="absolute group text-sm top-full left-0 w-max opacity-0 invisible group-hover:visible group-hover:translate-y-2 transition-all duration-300 ease-in-out transform flex-col group-hover:opacity-100 bg-white/20 backdrop-brightness-75 border border-white/20 rounded-[25px] shadow-lg px-6 py-4 text-left space-y-4">
                  <ul class="justify-between items-center w-48">
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Depression <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Something <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Something <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">OCD <span>›</span></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="relative group">
                <a href="#" class="flex mx-3 items-center">
                  Balance<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </a>

                <!-- Dropdown -->
                <div class="absolute text-sm top-full left-0 w-max opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:translate-y-2 group-hover:z-10 transition-all duration-300 ease-in-out transform flex-col bg-white rounded-[25px] shadow-lg px-6 py-4 text-left space-y-4 z-50">
                  <ul class="justify-between items-center w-48">
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Depression <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Something <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Something <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">OCD <span>›</span></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="relative group">
                <a href="#" class="flex mx-3 items-center">
                  Relationship<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </a>

                <!-- Dropdown -->
                <div class="absolute text-sm top-full left-0 w-max opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:translate-y-2 transition-all duration-300 ease-in-out transform flex-col bg-white rounded-[25px] shadow-lg px-6 py-4 text-left space-y-4 z-50">
                  <ul class="justify-between items-center w-48">
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Depression <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Something <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">Something <span>›</span></a>
                    </li>
                    <li>
                      <a href="#" class="hover:text-gray-500 py-2 flex justify-between items-center w-48">OCD <span>›</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Login + Mobile Menu Button -->
            <div class="flex items-center space-x-4">
              <a href="#" class="text-lg poppins-regular ease-in-out transition-colors duration-300 hover:text-blue-600">Login</a>
              <button class="lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="md:h-14 sm:h-15 w-full h-16"></div>
    <a class="flex items-center" href="#"><img src="{% static 'assets/logo_purple_nobg.png' %}" alt="" /></a>
    <a class="flex items-center" href="#"><img src="{% static 'assets/logo_purple_nobg.png' %}" alt="" /></a>
    <a class="flex items-center" href="#"><img src="{% static 'assets/logo_purple_nobg.png' %}" alt="" /></a>
  </body>
</html>
