{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% tailwind_css %}
  </head>

  <body class="bg-white transition-colors duration-500 ease-in-out">
    <!-- ========= HEADER ========= -->
    <header class="w-full h-fit lg:px-5 p-3 fixed z-50">
      <div class="w-full md:h-18 h-16">
        <nav class="rounded-lg lg:m-auto lg:flex lg:justify-between lg:h-18 h-16 items-center transition-colors duration-500 ease-in-out dark:bg-[#292929] dark:backdrop-blur-2xl nav__bar" id="nav-bar">
          {% comment %}Logo{% endcomment %}
          <div class="lg:flex-none flex items-center justify-between h-full p-4">
            <a class="flex items-center" href="{% url '' %}">
              <img src="{% static 'assets/elation.png' %}" alt="Elation" class="lg:h-10 lg:w-30 h-8 w-24 block dark:hidden" />
              <img src="{% static 'assets/elation_white.png' %}" alt="Elation" class="md:h-12 h-10 w-30 md:w-36 hidden dark:block" />
            </a>
            <div class="flex items-center gap-3 lg:hidden">
              <a href="#" class="text-lg poppins-regular ease-in-out transition-colors duration-300 text-vagus dark:text-warp-heading dark:rounded-sm dark:hover:bg-warp-subhead/30">Login</a>

              <button onclick="" class="cursor-pointer mr-2 transition duration-300 text-vagus dark:text-warp-heading dark:rounded-sm dark:hover:text-warp-heading dark:hover:rotate-90">
                {% comment %}sun{% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 hidden dark:block">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                </svg>

                {% comment %}moon{% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 block dark:hidden">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                </svg>
              </button>

              <div class="relative flex justify-center items-center text-vagus cursor-pointer lg:hidden" id="nav-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav__burgir transition-transform duration-300 absolute size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav__close absolute size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </div>
            </div>
          </div>

          <!-- NAV-LINKS -->
          <div class="lg:w-max lg:h-full lg:px-2 z-10 w-full flex nav__menu" id="nav-menu">
            <ul class="flex flex-col lg:p-0 lg:items-center lg:h-full lg:flex-row xs:gap-1 lg:gap-0 poppins-medium xl:text-sm lg:text-[12px] lg:bg-transparent h-fit w-full rounded-xl p-4 text-vagus nav__list" id="nav-list">
              <li class="h-full">
                <a href="#" class="lg:h-full items-center lg:hover:bg-transparent hover:bg-gray-300/30 rounded-lg ease-in-out transition-colors duration-300 p-2 flex w-full">Home</a>
              </li>

              <!-- Dropdown-1 -->
              <li class="lg:relative lg:h-full group dropdown__item">
                <div class="items-center p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 rounded-lg transition-colors duration-300 flex justify-between cursor-pointer">
                  Specific-Disorder<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="dropdown__arrow group-hover:rotate-180 transition-all duration-200 size-5">
                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </div>

                <div class="lg:absolute dropdown__menu">
                  <ul class="lg:rounded-b-2xl lg:backdrop-blur-sm lg:group-hover:p-2 lg:w-max w-full text-vagus nav__drop" id="nav-drop">
                    {% for key, value in specific.items %}
                      <li>
                        <a href="{% url key %}" class="hover:bg-black/20 transition-colors duration-300 rounded-lg lg:px-4 lg:py-2 pl-5 p-2 w-full flex dropdown__link">{{ value }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>

              <!-- Dropdown-2 -->
              <li class="lg:h-full lg:relative group dropdown__item">
                <div class="items-center p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 rounded-lg transition-colors duration-300 flex justify-between cursor-pointer">
                  Life & Work<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="dropdown__arrow group-hover:rotate-180 transition-all duration-200 size-5">
                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </div>

                <div class="lg:absolute dropdown__menu">
                  <ul class="lg:rounded-b-2xl lg:backdrop-blur-sm lg:group-hover:p-2 lg:w-max w-full text-vagus nav__drop" id="nav-drop">
                    {% for key, value in life_work.items %}
                      <li>
                        <a href="{% url key %}" class="hover:bg-black/20 transition-colors duration-300 rounded-lg lg:px-4 lg:py-2 pl-5 p-2 w-full flex dropdown__link">{{ value }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>

              <!-- Dropdown-3 -->
              <li class="lg:h-full lg:relative group dropdown__item">
                <div href="#" class="items-center p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 rounded-lg cursor-pointer transition-colors duration-300 flex justify-between">
                  Relationship<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="dropdown__arrow group-hover:rotate-180 transition-all duration-200 size-5">
                    <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg>
                </div>

                <div class="lg:absolute dropdown__menu">
                  <ul class="lg:backdrop-blur-sm lg:rounded-b-2xl lg:group-hover:p-2 lg:w-max w-full text-vagus nav__drop" id="nav-drop">
                    {% for key, value in relationship.items %}
                      <li>
                        <a href="{% url key %}" class="hover:bg-black/20 transition-colors duration-300 rounded-lg lg:px-4 lg:py-2 pl-5 p-2 w-full flex dropdown__link">{{ value }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </li>

              <li class="h-full">
                <a href="#" class="p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 items-center rounded-lg ease-in-out transition-colors duration-300 flex w-full">Therapist</a>
              </li>
              <li class="h-full">
                <a href="#" class="p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 items-center rounded-lg ease-in-out transition-colors duration-300 flex w-full">Plans</a>
              </li>
              <li class="hidden h-full lg:grid place-content-center">
                <div class="h-6 items-center border-l border-vagus xs:mx-2 lg:mx-1.5"></div>
              </li>
              <li class="h-full">
                <a href="#" class="p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 items-center rounded-lg ease-in-out transition-colors duration-300 flex w-full">Business</a>
              </li>
              <li class="h-full">
                <a href="#" class="p-2 lg:h-full lg:hover:bg-transparent hover:bg-gray-300/30 items-center rounded-lg ease-in-out transition-colors duration-300 flex w-full">The Advice Room</a>
              </li>
            </ul>
          </div>

          <div class="lg:flex items-center gap-3 hidden">
            <a href="#" class="text-lg poppins-regular ease-in-out transition-colors duration-300 text-vagus dark:text-warp-heading dark:rounded-sm dark:hover:bg-warp-subhead/30">Login</a>

            <button onclick="" class="cursor-pointer mr-2 transition duration-300 text-vagus dark:text-warp-heading dark:rounded-sm dark:hover:text-warp-heading dark:hover:rotate-90">
              {% comment %}sun{% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 hidden dark:block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
              </svg>

              {% comment %}moon{% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 block dark:hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
              </svg>
            </button>

            <div class="relative flex justify-center items-center text-vagus cursor-pointer lg:hidden" id="nav-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav__burgir transition-transform duration-300 absolute size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="nav__close absolute size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>
    <h1 class="text-7xl text-charcoal poppins flex justify-center">THIS IS A TEST HEADING FOR NOW</h1>

    {% comment %} <div style="background-image: url('https://picsum.photos/600/400'); background-size: cover;">
      <div class="blurred-box">
        <h2>Hello World</h2>
        <p>This box has a blurred background.</p>
      </div>
    </div> {% endcomment %}

    <!-- Here comes the image cards -->
    <div class="md:h-24 h-22 w-full"></div>
    <!--  -->
    <section class="text-center px-5 py-5 grid grid-cols-1 gap-6">
      <div class="grid grid-cols-1 gap-2">
        <h1 class="text-4xl md:text-[66px] tracking-wide playfair-display-regular text-[#094C9F] dark:text-[#094C9F]">The Best Online Platform for Mental Health</h1>
      </div>

      <div class="flex flex-wrap justify-center vagus-color md:gap-8 gap-6 md:p-0 p-4 dark:text-warp-heading">
        <!-- Teenagers 13–17 -->
        <div class="card transition duration-700 hover:scale-105 ease-in-out cursor-pointer flex w-screen h-[58px] md:block md:w-[208px] md:h-[266px] rounded-2xl bg-[#D88D95]/20 poppins-regular md:text-center md:p-3 overflow-hidden" data-color="#F6E7E9">
          <img src="{% static 'assets/teenagers_1.jpg' %}" alt="Teenagers 13–17" class="w-[58px] h-[58px] md:w-auto md:h-auto transform md:scale-100 transition-all duration-300 md:transform-none rounded-[16px] mb-4" />
          <div class="flex-1 py-2 md:py-0 md:block md:mb-4 text-center">
            <h3 class="text-base md:text-[18px]">Teenagers</h3>
            <p class="text-[12px] md:text-sm text-vagus/60 dark:text-warp-blockquote">Therapy for 13–17</p>
          </div>
        </div>

        <!-- Couples -->
        <div class="card transition duration-700 hover:scale-105 ease-in-out cursor-pointer flex w-screen h-[58px] md:block md:w-[208px] md:h-[266px] rounded-2xl bg-[#F7BF44]/20 poppins-regular md:text-center md:p-3 overflow-hidden" data-color="#FDF1D9">
          <img src="{% static 'assets/couples.jpg' %}" alt="Couples" class="w-[58px] h-[58px] md:w-auto md:h-auto object-cover transform md:scale-100 transition-all duration-300 md:transform-none rounded-[16px] mb-4" />
          <div class="flex-1 py-2 md:py-0 md:block md:mb-4 text-center">
            <h3 class="text-base md:text-[18px]">Couples</h3>
            <p class="text-[12px] md:text-sm text-vagus/60 dark:text-warp-blockquote">Therapy for us</p>
          </div>
        </div>

        <!-- Teenagers 18+ -->
        <div class="card transition duration-700 hover:scale-105 ease-in-out cursor-pointer flex w-screen h-[58px] md:block md:w-[208px] md:h-[266px] rounded-2xl bg-[#4CC6EB]/20 poppins-regular md:text-center md:p-3 overflow-hidden" data-color="#DAF3FA">
          <img src="{% static 'assets/teenagers_2.jpg' %}" alt="Teenagers 18+" class="w-[58px] h-[58px] md:w-auto md:h-auto object-cover transform md:scale-100 transition-all duration-300 md:transform-none rounded-[16px] mb-4" />
          <div class="flex-1 py-2 md:py-0 md:block md:mb-4 text-center">
            <h3 class="text-base md:text-[18px]">Teenagers</h3>
            <p class="text-[12px] md:text-sm text-vagus/60 dark:text-warp-blockquote">Therapy for 18+</p>
          </div>
        </div>

        <!-- Elderly -->
        <div class="card transition duration-700 hover:scale-105 ease-in-out cursor-pointer flex w-screen h-[58px] md:block md:w-[208px] md:h-[266px] rounded-2xl bg-[#6DB848]/20 poppins-regular md:text-center md:p-3 overflow-hidden" data-color="#E1F0DA">
          <img src="{% static 'assets/elderly.jpg' %}" alt="Elderly" class="w-[60px] h-[58px] md:w-auto md:h-auto object-fill transform md:scale-100 transition-all duration-300 md:transform-none rounded-[16px] mb-4" />
          <div class="flex-1 py-2 md:py-0 md:block md:mb-4 text-center">
            <h3 class="text-base md:text-[18px]">Elderly</h3>
            <p class="text-[12px] md:text-sm text-vagus/60 dark:text-warp-blockquote">Therapy for 50+</p>
          </div>
        </div>

        <!-- LGBTQ+ -->
        <div class="card transition duration-700 hover:scale-105 ease-in-out cursor-pointer flex w-screen h-[58px] md:block md:w-[208px] md:h-[266px] rounded-2xl bg-[#6F7496]/20 poppins-regular md:text-center md:p-3 overflow-hidden" data-color="#E1E2E9">
          <img src="{% static 'assets/lgbtq.jpg' %}" alt="LGBTQ+" class="w-[58px] h-[58px] md:w-auto md:h-auto object-fill transform md:scale-100 transition-all duration-300 md:transform-none rounded-[16px] mb-4" />
          <div class="flex-1 py-2 md:py-0 md:block md:mb-4 text-center">
            <h3 class="text-base md:text-[18px]">LGBTQ+</h3>
            <p class="text-[12px] md:text-sm text-vagus/60 dark:text-warp-blockquote">Therapy for LGBTQ+</p>
          </div>
        </div>
      </div>
    </section>

    <script>
      // ============ SHOW MENU FOR MOBILE DEVICES ============
      const showMenu = (toggleID, navID) => {
        const togglebtn = document.getElementById(toggleID)
        const navMenu = document.getElementById(navID)
      
        togglebtn.addEventListener('click', () => {
          // add show-menu css class to nav to display it
          navMenu.classList.toggle('show-menu')
      
          // add show-icon to show and hide the menu burgir
          togglebtn.classList.toggle('show-icon')
        })
      }
      showMenu('nav-toggle', 'nav-menu')
    </script>
    <script src="{% static 'javascript/test.js' %}"></script>
  </body>
</html>
