{% extends 'elationapp/pages_layout.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Eating Disorder
{% endblock %}

{% block heading_large_screen %}
  <h1 class="text-[#094C9F] dark:text-navy-light text-5xl tracking-wide poppins-regular">Best Treatment for Eating Disorders That Regains Control and Heal</h1>
  <blockquote class="poppins-regular text-vagus text-base dark:text-warp-blockquote">Eating disorders can deeply impact your physical and emotional well-being... read more</blockquote>
{% endblock %}

{% block header_img_large_screen %}
  <div class="flex items-end h-full w-full">
    <img src="{% static 'assets/disorder/marta.jpg' %}" alt="depression" class="object-fill h-full object-center md:[clip-path:ellipse(80%_50%_at_80%_50%)]" />
  </div>
{% endblock %}

{% block header_img_small_screen %}
  <div class="lg:hidden h-[33rem] bg-top bg-cover bg-fixed bg-no-repeat" style="background-image: url({% static 'assets/disorder/marta.jpg' %});"></div>
{% endblock %}

{% block card_headings %}
  <h3 class="text-[#094C9F] sm:text-3xl text-2xl tracking-wide poppins-regular dark:text-navy-light">Best Treatment for Eating Disorders That Regains Control and Heal</h3>
  <blockquote class="poppins-regular text-vagus text-base dark:text-warp-blockquote">Eating disorders can deeply impact your physical and emotional well-being... read more</blockquote>
{% endblock %}

{% block svg_section %}
  <div class="lg:order-2 order-1 w-full flex md:justify-center lg:gap-50 md:gap-20 justify-between px-8 py-5 bg-[#E9F3FF] dark:bg-navy-dark">
    <div class="grid justify-center items-center poppins-medium">
      <div class="w-full flex justify-center">
        <img src="{% static 'assets/svgs/slim.png' %}" alt="" class="h-10 w-10" />
      </div>
      <p class="text-vagus text-sm dark:text-warp-blockquote">Rapid weight loss or gain</p>
    </div>
    <div class="grid justify-center items-center poppins-medium">
      <div class="w-full flex justify-center">
        <img src="{% static 'assets/svgs/meal.png' %}" alt="" class="h-10 w-10" />
      </div>
      <p class="text-vagus text-sm dark:text-warp-blockquote">Skipping meals</p>
    </div>
    <div class="sm:grid hidden justify-center items-center poppins-medium">
      <div class="w-full flex justify-center">
        <img src="{% static 'assets/svgs/hair.png' %}" alt="hair" class="h-10 w-10" />
      </div>
      <p class="text-vagus text-sm dark:text-warp-blockquote">Hair Loss</p>
    </div>
  </div>
{% endblock %}

{% block first_article %}
  <article class="poppins-regular grid gap-8 text-vagus dark:text-warp-blockquote">
    <p class="text-pretty text-justify">Eating disorders can deeply impact your physical and emotional well-being, affecting your relationship with food, body image, and self-esteem.</p>
    <p class="text-pretty text-justify">Whether you’re struggling with binge eating, anorexia, or emotional eating, professional support can help you regain control and build a healthier mindset. Recovery is possible with the right guidance and compassionate care.</p>
    <p class="text-pretty text-justify">If left unaddressed, these symptoms can deeply impact relationships, work, and overall well-being. Whether you're experiencing mild discomfort or overwhelming emotional distress, recognizing the signs and seeking professional support is essential.</p>
  </article>
{% endblock %}

{% block second_article %}
  <article class="poppins-regular grid gap-8 text-vagus dark:text-warp-blockquote">
    <h2 class="text-[#094C9F] text-2xl poppins-medium dark:text-navy-light">Why Choose Elation Mind Health is Best for Eating Disorder Treatment ?</h2>
    <p class="text-pretty text-justify">We are committed to providing high-quality services to people who are looking for the best depression treatment clinics.</p>
    <div>
      <h3 class="text-vagus-blue poppins-semibold text-md dark:text-warp-heading">Experienced and Licensed Therapists</h3>
      <p class="text-pretty text-justify">Our licensed and experienced therapists use proven techniques to help you navigate depression with confidence.</p>
    </div>
    <div>
      <h3 class="text-vagus-blue poppins-semibold text-md dark:text-warp-heading">Immediate Appointments (Available Within 24 Hours)</h3>
      <p class="text-pretty text-justify">Get matched with a therapist and start your journey within 24 hours—because your mental health shouldn’t wait.</p>
    </div>
    <div>
      <h3 class="text-vagus-blue poppins-semibold text-md dark:text-warp-heading">Confidential and Secure Online Sessions</h3>
      <p class="text-pretty text-justify">Your privacy is our top-most priority. That’s why your sessions at our depression therapy clinic in Dubai are designed to be 100% confidential and secure. Moreover, you can get in touch with our depression therapists from the comfort of your home, making it convenient and stress free.</p>
    </div>
  </article>
{% endblock %}

{% block third_article %}
  <article class="poppins-regular grid gap-8 text-vagus dark:text-warp-blockquote">
    <h2 class="text-[#094C9F] text-2xl poppins-medium dark:text-navy-light">What to Expect in Your First Session of Eating Disorder Therapy ?</h2>
    <p class="text-pretty text-justify">We are committed to providing high-quality services to people who are looking for the best depression treatment clinics.</p>
    <ol class="poppins-semibold list-decimal grid gap-8 list-inside text-vagus-blue dark:text-warp-heading">
      <li>
        Initial assessment<p class="poppins-regular text-vagus dark:text-warp-blockquote text-pretty text-justify">At the beginning of the session, we engage in an open conversation about your experiences, challenges, and emotions. This allows your therapist to gain insight into your situation and determine the best support for you.</p>
      </li>
      <li>
        Set Personalized Therapy Goals<p class="poppins-regular text-vagus dark:text-warp-blockquote text-pretty text-justify">In the second step of your depression treatment, you will set goals with your therapist.</p>
      </li>
      <li>
        Discuss Your Tailored Care Plan<p class="poppins-regular text-vagus dark:text-warp-blockquote text-pretty text-justify">Your therapist will outline a customized care plan designed to meet your unique needs and recovery goals.</p>
      </li>
    </ol>
  </article>
{% endblock %}
